<h1>Edit or delete your recipe!</h1>

<form action="/recipes/<%= @recipe.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  Name:  <input type="text" value="<%= @recipe.recipe_name %>" name="recipe_name"><br>
  <br>
  Ingredients
  <h5>Please separate each ingredient with a comma (,) </h5>
  <input type="text" minlength="4" maxlength="100" size="50" name="ingredients" value="<%= @recipe.ingredients %>"/> 

  <br>
  <br>
   Instructions
    <h5>Please separate each new instruction with a period (.) </h5>
    <input type="text" minlength="4" maxlength="100" size="50" name="instructions" value="<%= @recipe.instructions%>"/> 
  <br>
  Cook Time: <input type="text" value="<%=@recipe.cooktime %>" name="cooktime">
  <br>
  <br>

  <input type="submit" value="Submit Changes">

  </form>
   
  or 
   
  <form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form> 