<h1>Edit or delete your recipe!</h1>

<form action="/recipes/<%= @recipe.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  Name:  <input type="text" value="<%= @recipe.recipe_name %>" name="recipe_name"><br>
  <br>
  Ingredients
  <h5>Put each step on a new line: </h5>
      <textarea name="ingredients" id="ingredients" rows="15" cols="60" required ></textarea>
  <br>
  <br>
   Instructions
    <h5>Put each step on a new line: </h5>
    <textarea name="instructions" id="instructions" value="<%=@recipe.instructions%>" rows="15" cols="80" required ></textarea>
  <br>
  Cook Time: <input type="text" value="<%=@recipe.cooktime %>" name="cooktime">
  <br>
  <br>

  <input type="submit" value="Submit Changes">

  </form>
   
  or 
   
  <form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form> 