<h1>Edit or delete your recipe!</h1>

<form action="/recipes/<%= @recipe.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  Name:  <input type="text" value="<%= @recipe.recipe_name %>" name="recipe_name"><br>
  <br>
  Ingredients
  <h5>Please separate each ingredient with a comma (,) </h5>
    <textarea name="ingredients" value="<%= @recipe.ingredients %>" id="ingredients" rows="15" cols="60" ></textarea>

  <br>
  <br>
   Instructions
    <h5>Please separate each new instruction with a period (.) </h5>
     
    <textarea name="instructions" placeholder="Put each instruction on a new line" rows="15" cols="60" ></textarea>
  <br>
  Cook Time: <input type="text" value="<%=@recipe.cooktime %>" name="cooktime">
  <br>
  <br>
  <a href="/recipes">My Recipes</a>
  <br>
  <br>
  <input type="submit" value="Submit Changes">

  </form>
   
  or 
   
  <form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form> 