<h1>Hello <%= current_user.name %>! </h1>
<br>
<h2>Welcome to your Recipe Safe:</h2>

<% if @recipes.empty? %>
<h5>You currently have no recipes, let's make a new one!</h5>
<% else %>
<p>If you would like to delete a recipe click the "edit" button for that recipe.</p>
<p>Click on the recipe name to see the full recipe.</p>

<h2>Your Recipes:</h2>
<ol>
    <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%=recipe.id%>"><%=  recipe.recipe_name %></a> 
   <a href="/recipes/<%= recipe.id %>/edit"> Edit</a></td>
    </li>
    <% end %>
    <% end %>
 </ol>
 <br>
 <br>
 <br>
 <br>
 <br>
<a href="/recipes/new">New Recipe</a>

<br> <br> 
    <% if logged_in? %>
    Logged in as: <%= current_user.email %>
    <br>
    <br>
      <a href="/logout">Logout</a>
      <br>
      <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log in</a>
      <% end %>