<h1> Here is your recipe for: <%= @recipe.recipe_name %> </h1>

<br>
<h2> Ingredients: </h2>
<% @recipe.ingredients.split.each do |ingredient| %>
 <ul> 
    <li> <%= ingredient %>   </li>
</ul>
  <% end %>
<br>
<h2> Instructions: </h2>
<% instructions = @recipe.instructions.split("\r\n") %>
    <% instructions.each_with_index do |instruction, i| %>
 <ol> 
    <li> <%= i+1 %>. <%= instruction %> </li>
</ol>
  <% end %>
<br>
  <h2>Cook Time: </h2>
  <%= @recipe.cooktime %> minutes
<br>
<br>
<br>
<h4>If you would like to make some changes to your recipe, click edit.</h4>
<br>
<a href="/recipes/<%= @recipe.id %>/edit">Edit</a></td>